# resolve ip or pointing ip (used for bind and system host)
RESOLVE_IP = '127.0.0.1'

# add wilcard to generate bind zone
ADD_WILDCARD_BIND = False

# blacklist using axfr to targeted server
AXFR_ZONES_BLACKLISTS = [
    {
        'name': 'DNS-BLACKLIST-ZONE',
        'zone': 'ads-zone',
        'server': '10.0.0.1'
    }
]

# blacklist from url (with format domain list or system host)
BLACKLIST_HOST = [
    'http://localhost/blacklist.txt',
]

# whitelist from url (with format domain list or system host)
WHITELIST_HOST = [
    'http://localhost/whitelist.txt',
]