# resolve or pointing ip (used for bind, dnsmasq and system hosts)
RESOLVE_IP = '127.0.0.1'

# add wilcard to generated domain (only for bind and dnsmasq)
ADD_WILDCARD = False

# blacklist using axfr to targeted server
# note : you can remove list content if not using AXFR_ZONES_BLACKLISTS
AXFR_ZONES_BLACKLISTS = [
    {
        'name': 'DNS-BLACKLIST-ZONE',
        'zone': 'ads-zone',
        'server': '10.0.0.1'
    }
]

# blacklist from url (format source : system hosts file or list domain)
BLACKLIST_HOST = [
    'https://raw.githubusercontent.com/StevenBlack/hosts/master/hosts',
]

# whitelist from url (format source : system hosts file or list domain)
# note : you can remove list content if not using WHITELIST_HOST
WHITELIST_HOST = []