# resolve ip of generated blacklist domain
resolve_ip: '127.0.0.1'
# use wilcard * for blacklist
wildcard: False
# add www for blacklist domain (sub domain skipped)
www: True
# blacklist url
blacklist: [
  'https://raw.githubusercontent.com/StevenBlack/hosts/master/hosts',
]
# whitelist url
whitelist: []
## remove example comment if using axfr zone blacklist
axfr_zones_blacklist: [
  #{
  #  name: "BLACKLIST-ZONE-TRF",
  #  zone: "blacklistzone",
  #  server: "10.0.0.1"
  #}
]
## remove example comment if using axfr zone whitelist
axfr_zones_whitelist: [
  #{
  #  name: "WHITELIST-ZONE-TRF",
  #  zone: "whitelistzone",
  #  server: "10.0.0.2"
  #}
]